
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/decoration.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="js/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/bir1.jpg">
      <img src="../img/bir1.jpg"  width="300" height="200">
    </a>
   
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/bir2.jpg">
      <img src="../img/bir2.jpg"  width="600" height="400">
    </a>
   
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/bir3.jpg">
      <img src="../img/bir3.jpg"  width="600" height="400">
    </a>
    
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/bir4.jpg">
      <img src="../img/bir4.jpg"  width="600" height="400">
    </a>
    
  </div>
</div>

<div class="clearfix"></div>

</body>
</html>
