
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/flower.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="js/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/win1.jpg">
      <img src="../img/win1.jpg" alt="Camellias" width="300" height="200">
    </a>
    <div class="desc">Camellias</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/win2.jpg">
      <img src="../img/win2.jpg" alt="Casa Blanca Lily" width="600" height="400">
    </a>
    <div class="desc">Casa Blanca Lily</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/win3.jpg">
      <img src="../img/win3.jpg" alt="Forget Me Not" width="600" height="400">
    </a>
    <div class="desc">Forget Me Not</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/win7.jpg">
      <img src="../img/win7.jpg" alt="Tulip" width="600" height="400">
    </a>
    <div class="desc">Tulip</div>
  </div>
</div>

<div class="clearfix"></div>

</body>
</html>
