
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/flower.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="js/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/sp1.jpg">
      <img src="../img/sp1.jpg" alt="Azalea" width="300" height="200">
    </a>
    <div class="desc">Azalea</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/sp2.jpg">
      <img src="../img/sp2.jpg" alt="Apple Blossom" width="600" height="400">
    </a>
    <div class="desc">Apple Bloosom</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/sp3.jpg">
      <img src="../img/sp3.jpg" alt="BlueBell" width="600" height="400">
    </a>
    <div class="desc">BlueBell</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/sp4.jpg">
      <img src="../img/sp4.jpg" alt="Cherry Bloosom" width="600" height="400">
    </a>
    <div class="desc">Cheery Bloosom</div>
  </div>
</div>

<div class="clearfix"></div>

</body>
</html>
