<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../css/flower.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="js/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/sum3.jpg">
      <img src="../img/sum3.jpg" alt="Chilean Jasmine" width="300" height="200">
    </a>
    <div class="desc">Chilean Jasmine</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/sum2.jpg">
      <img src="../img/sum2.jpg" alt="Christmas Bell" width="600" height="400">
    </a>
    <div class="desc">Christmas Bell</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/sum7.jpg">
      <img src="../img/sum7.jpg" alt="Gladiolus" width="600" height="400">
    </a>
    <div class="desc">Gladiolus</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../img/sum8.jpg">
      <img src="../img/sum8.jpg" alt="Garden Roses" width="600" height="400">
    </a>
    <div class="desc">Garden Roses</div>
  </div>
</div>


</body>
</html>